html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#wrapper {
  background-color: black;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.row {
  display: flex;
  flex: 1;
}

.block {
  background-color: white;
  transition: .5s;
  flex: 1;
  border: solid 1px rgb(143, 143, 143);
}

.block-alt {
  transition: .5s;
}