html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
}

#wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.row {
  display: flex;
  flex: 1;
}

.block {
  background-color: white;
  transition: .5s;
  flex: 1;
  border: solid 1px black;
  margin: 1px;
}

.block-alt {
  background-color: blue;
  transition: .5s;
}